<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cusc.cuscai.mapper.VocabularyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cusc.cuscai.entity.model.VocabularyInfo" >
    <id column="vocabulary_id" property="vocabularyId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="vocabulary_update_time" property="vocabularyUpdateTime" jdbcType="TIMESTAMP" />

  </resultMap>
  <resultMap id="BOResultMap" type="com.cusc.cuscai.entity.bo.VocabularyInfoBO" extends="BaseResultMap" />
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    vocabulary_id, name, type, vocabulary_update_time
  </sql>
  <select id="selectByExample" parameterType="com.cusc.cuscai.entity.model.VocabularyInfoExample" resultMap="BOResultMap" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vocabulary_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      limit ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BOResultMap" >
    select 
    <include refid="Base_Column_List" />
    from vocabulary_info
    where vocabulary_id = #{vocabularyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vocabulary_info
    where vocabulary_id = #{vocabularyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cusc.cuscai.entity.model.VocabularyInfoExample" >
    delete from vocabulary_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cusc.cuscai.entity.model.VocabularyInfo" >
    insert into vocabulary_info (vocabulary_id, name, type, 
      vocabulary_update_time)
    values (#{vocabularyId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{vocabularyUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cusc.cuscai.entity.model.VocabularyInfo" >
    insert into vocabulary_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vocabularyId != null" >
        vocabulary_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="vocabularyUpdateTime != null" >
        vocabulary_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vocabularyId != null" >
        #{vocabularyId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="vocabularyUpdateTime != null" >
        #{vocabularyUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cusc.cuscai.entity.model.VocabularyInfoExample" resultType="java.lang.Integer" >
    select count(*) from vocabulary_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vocabulary_info
    <set >
      <if test="record.vocabularyId != null" >
        vocabulary_id = #{record.vocabularyId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.vocabularyUpdateTime != null" >
        vocabulary_update_time = #{record.vocabularyUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vocabulary_info
    set vocabulary_id = #{record.vocabularyId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      vocabulary_update_time = #{record.vocabularyUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cusc.cuscai.entity.model.VocabularyInfo" >
    update vocabulary_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="vocabularyUpdateTime != null" >
        vocabulary_update_time = #{vocabularyUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where vocabulary_id = #{vocabularyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cusc.cuscai.entity.model.VocabularyInfo" >
    update vocabulary_info
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      vocabulary_update_time = #{vocabularyUpdateTime,jdbcType=TIMESTAMP}
    where vocabulary_id = #{vocabularyId,jdbcType=INTEGER}
  </update>
</mapper>